
# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
coverage/
.vite/

# Logs
logs/
*.log
server/logs/

# Uploads
uploads/
server/uploads/

# Environment variables
.env
.env.*
!.env.example

client/.env
server/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache


# Prisma
prisma/generated/
